<a href="https://colab.research.google.com/github/AhmadNass7/teaching/blob/main/linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Linear Regression
You should build a machine learning pipeline using a linear regression model. In particular, you should do the following:
- Load the `housing` dataset using [Pandas](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html). You can find this dataset in the datasets folder.
- Split the dataset into training and test sets using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html). 
- Train and test a linear regression model using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).
- Check the documentation to identify the most important hyperparameters, attributes, and methods of the model. Use them in practice.

In [2]:
## First exercises of Into To AI Macchine Learning

## Importing libraries

In [3]:
import pandas as pd 
import sklearn.model_selection
import sklearn.linear_model
import sklearn.metrics

## Loading Data sets

In [4]:
df=pd.read_csv("housing.csv")
df=df.set_index("id")
df.head ()

,price,area,bedrooms,bathrooms,stories,stories.1,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
id,,,,,,,,,,,,,
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1.0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1.0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0.5
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1.0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1.0

## Splitting the data sets intro training and Test sets

In [5]:
x = df.drop(["price"] , axis=1)
y =df["price"]
x_train,x_test,y_train, y_test= sklearn.model_selection.train_test_split(x,y)
print("df.",df.shape)
print("x_train:",x_train.shape)
print("x_test:",x_test.shape)
print("y_train:",y_train.shape)
print("y_test:",y_train.shape)

df. (545, 13)
x_train: (408, 12)
x_test: (137, 12)
y_train: (408,)
y_test: (408,)

## Train and Test

In [6]:
model=sklearn.linear_model.LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

## Testing the module

In [7]:
y_predicted = model.predict(x_test)
mse=sklearn.metrics.mean_squared_error (y_test,y_predicted)
mse

1102841354900.2727