# Linear Regression
Load the `housing` dataset. Split it into training and test sets. Train and test a linear regression model using scikit-learn. Check the documentation to identify the most important hyperparameters, attributes, and methods of the model. Use them in practice.

## Importing Modules

In [19]:
import pandas as pd
import sklearn.model_selection
import sklearn.linear_model
import sklearn.metrics

## Loading the Dataset

In [9]:
df = pd.read_csv("../../datasets/housing.csv")
df = df.set_index("id")
df.head(3)

,price,area,bedrooms,bathrooms,stories,stories.1,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
id,,,,,,,,,,,,,
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1.0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1.0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0.5

## Splitting the Dataset into Train and Test Sets

In [14]:
x = df.drop(["price"], axis=1)
y = df["price"]
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y)
print("df:", df.shape)
print("x_train:", x_train.shape)
print("x_test:", x_test.shape)
print("y_train:", y_train.shape)
print("y_test:", y_test.shape)

df: (545, 13)
x_train: (408, 12)
x_test: (137, 12)
y_train: (408,)
y_test: (137,)

## Training a Model

In [16]:
model = sklearn.linear_model.LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

## Testing the Trained Model

In [20]:
y_predicted = model.predict(x_test)
mse = sklearn.metrics.mean_squared_error(y_test, y_predicted)
mse

1069963066817.5493