# Deep Neural Networks
Load the `mnist` dataset. Split it into training and test sets. Train and test a deep neural network model using Keras and TensorFlow. Check the documentation and sample codes to identify the most promising architectures and hyperparameters. Tune your model.

## Importing Modules

In [15]:
import numpy as np
import pandas as pd
import sklearn.metrics
import sklearn.model_selection
from tensorflow import keras
from tensorflow.keras import layers

## Loading the Dataset

In [16]:
df = pd.read_csv("../../datasets/mnist.csv")
df = df.set_index("id")
df.head(3)

,class,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
id,,,,,,,,,,,,,,,,,,,,,
31953,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34452,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60897,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Splitting the Data into Training and Test

In [17]:
x = df.drop(["class"], axis=1)
y = df["class"]
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y)

## Preparing the Data

In [18]:
# Reshaping the data
x_train = x_train.to_numpy().reshape(x_train.shape[0], 28, 28, 1)
x_test = x_test.to_numpy().reshape(x_test.shape[0], 28, 28, 1)

# Model / data parameters
num_classes = 10
input_shape = (28, 28, 1)

# Scale images to the [0, 1] range
x_train = x_train.astype("float32") / 255
x_test = x_test.astype("float32") / 255

# convert class vectors to binary class matrices
y_train = keras.utils.to_categorical(y_train, num_classes)
y_test = keras.utils.to_categorical(y_test, num_classes)

print("x_train shape:", x_train.shape)
print(x_train.shape[0], "train samples")
print(x_test.shape[0], "test samples")

x_train shape: (3000, 28, 28, 1)
3000 train samples
1000 test samples

## Building the Model

In [19]:
model = keras.Sequential()

model.add(keras.Input(shape=input_shape))
model.add(layers.Conv2D(32, kernel_size=(3, 3), activation="relu"))
model.add(layers.MaxPooling2D(pool_size=(2, 2)))
model.add(layers.Conv2D(64, kernel_size=(3, 3), activation="relu"))
model.add(layers.MaxPooling2D(pool_size=(2, 2)))
model.add(layers.Flatten())
model.add(layers.Dropout(0.5))
model.add(keras.layers.BatchNormalization())
model.add(layers.Dense(num_classes, activation="softmax"))

model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_4 (Conv2D)            (None, 26, 26, 32)        320
_________________________________________________________________
max_pooling2d_4 (MaxPooling2 (None, 13, 13, 32)        0
_________________________________________________________________
conv2d_5 (Conv2D)            (None, 11, 11, 64)        18496
_________________________________________________________________
max_pooling2d_5 (MaxPooling2 (None, 5, 5, 64)          0
_________________________________________________________________
flatten_2 (Flatten)          (None, 1600)              0
_________________________________________________________________
dropout_2 (Dropout)          (None, 1600)              0
_________________________________________________________________
batch_normalization_2 (Batch (None, 1600)              6400
_________________________________________________________________
dense_4 (Dense)              (None, 10)                16010
=================================================================
Total params: 41,226
Trainable params: 38,026
Non-trainable params: 3,200
_________________________________________________________________

## Training the Model

In [20]:
batch_size = 128
epochs = 25
model.compile(loss="categorical_crossentropy", optimizer="adam", metrics=["accuracy"])
model.fit(x_train, y_train, batch_size=batch_size, epochs=epochs, validation_split=0.1)

Epoch 1/25
22/22 [==============================] - 1s 16ms/step - loss: 1.4241 - accuracy: 0.5381 - val_loss: 2.0148 - val_accuracy: 0.3800
Epoch 2/25
22/22 [==============================] - 0s 11ms/step - loss: 0.4842 - accuracy: 0.8530 - val_loss: 1.8521 - val_accuracy: 0.5300
Epoch 3/25
22/22 [==============================] - 0s 11ms/step - loss: 0.3049 - accuracy: 0.9111 - val_loss: 1.7311 - val_accuracy: 0.6267
Epoch 4/25
22/22 [==============================] - 0s 11ms/step - loss: 0.2328 - accuracy: 0.9304 - val_loss: 1.6094 - val_accuracy: 0.7700
Epoch 5/25
22/22 [==============================] - 0s 11ms/step - loss: 0.1877 - accuracy: 0.9467 - val_loss: 1.4623 - val_accuracy: 0.8100
Epoch 6/25
22/22 [==============================] - 0s 11ms/step - loss: 0.1516 - accuracy: 0.9541 - val_loss: 1.3252 - val_accuracy: 0.8833
Epoch 7/25
22/22 [==============================] - 0s 11ms/step - loss: 0.1422 - accuracy: 0.9563 - val_loss: 1.2092 - val_accuracy: 0.9033
Epoch 8/25
22/22 [==============================] - 0s 11ms/step - loss: 0.1261 - accuracy: 0.9656 - val_loss: 1.0790 - val_accuracy: 0.9200
Epoch 9/25
22/22 [==============================] - 0s 11ms/step - loss: 0.1025 - accuracy: 0.9700 - val_loss: 0.9159 - val_accuracy: 0.9433
Epoch 10/25
22/22 [==============================] - 0s 11ms/step - loss: 0.0962 - accuracy: 0.9719 - val_loss: 0.8197 - val_accuracy: 0.9433
Epoch 11/25
22/22 [==============================] - 0s 11ms/step - loss: 0.0834 - accuracy: 0.9759 - val_loss: 0.6953 - val_accuracy: 0.9567
Epoch 12/25
22/22 [==============================] - 0s 11ms/step - loss: 0.0808 - accuracy: 0.9804 - val_loss: 0.5491 - val_accuracy: 0.9700
Epoch 13/25
22/22 [==============================] - 0s 11ms/step - loss: 0.0775 - accuracy: 0.9767 - val_loss: 0.4915 - val_accuracy: 0.9567
Epoch 14/25
22/22 [==============================] - 0s 11ms/step - loss: 0.0642 - accuracy: 0.9830 - val_loss: 0.3929 - val_accuracy: 0.9733
Epoch 15/25
22/22 [==============================] - 0s 11ms/step - loss: 0.0680 - accuracy: 0.9826 - val_loss: 0.3278 - val_accuracy: 0.9567
Epoch 16/25
22/22 [==============================] - 0s 11ms/step - loss: 0.0634 - accuracy: 0.9856 - val_loss: 0.2931 - val_accuracy: 0.9633
Epoch 17/25
22/22 [==============================] - 0s 11ms/step - loss: 0.0526 - accuracy: 0.9881 - val_loss: 0.2046 - val_accuracy: 0.9700
Epoch 18/25
22/22 [==============================] - 0s 11ms/step - loss: 0.0522 - accuracy: 0.9859 - val_loss: 0.1806 - val_accuracy: 0.9700
Epoch 19/25
22/22 [==============================] - 0s 11ms/step - loss: 0.0454 - accuracy: 0.9889 - val_loss: 0.1555 - val_accuracy: 0.9767
Epoch 20/25
22/22 [==============================] - 0s 11ms/step - loss: 0.0400 - accuracy: 0.9926 - val_loss: 0.1332 - val_accuracy: 0.9800
Epoch 21/25
22/22 [==============================] - 0s 11ms/step - loss: 0.0424 - accuracy: 0.9881 - val_loss: 0.1201 - val_accuracy: 0.9767
Epoch 22/25
22/22 [==============================] - 0s 11ms/step - loss: 0.0364 - accuracy: 0.9904 - val_loss: 0.1195 - val_accuracy: 0.9800
Epoch 23/25
22/22 [==============================] - 0s 11ms/step - loss: 0.0309 - accuracy: 0.9937 - val_loss: 0.1077 - val_accuracy: 0.9833
Epoch 24/25
22/22 [==============================] - 0s 11ms/step - loss: 0.0276 - accuracy: 0.9944 - val_loss: 0.1053 - val_accuracy: 0.9767
Epoch 25/25
22/22 [==============================] - 0s 11ms/step - loss: 0.0322 - accuracy: 0.9930 - val_loss: 0.1072 - val_accuracy: 0.9767

## Evaluating the Trained Model

In [21]:
score = model.evaluate(x_test, y_test, verbose=0)
print("Test loss:", score[0])
print("Test accuracy:", score[1])

Test loss: 0.06211163103580475
Test accuracy: 0.984000027179718